.table-row-custom:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /*background: #f0f8ff !important;*/
}

.card {
  box-shadow: rgb(60 64 67 / 15%) 0px 2px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 1px !important;
  border-radius: unset;
}

.card-body {
  border-bottom: 3px solid transparent;
}

.card:hover .card-body {
  border-bottom: 3px solid #3dcd58;
}
