.card:hover {
  background-color: rgba(192, 219, 255, 0.3);
  color: #3dcd58 !important;
}
.test-records{
  /*border-bottom: 1px solid #00008b;*/
  border-left: 2px solid #3dcd58;
}
.test-records:hover {
  /*box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;*/
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}
