.font-white-bold{
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF !important;
  border: 2px solid transparent;
}

.nav-link:hover{
  border-bottom: 2px solid #FFFFFF;
}

.border-bottom-custom{
  border-bottom: 2px solid #FFFFFF;
}
