<nav class="navbar navbar-expand-lg navbar-light p-0"
     style="background-color: #3dcd58; box-shadow: inset 0 -3em 3em rgb(0 0 0 / 0%), 0 0 0 2px #FFFFFF, 0.3em 0.3em 1em rgb(0 0 0 / 20%)">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/img.png" height="36" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link font-white-bold" href="#">Add New Project <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link font-white-bold" href="#">Edit Tests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-white-bold" href="#">Execute Tests</a>
      </li>-->
    </ul>
    <span class="navbar-text" style="color: #FFFFFF">
      Demo_User
    </span>
  </div>
</nav>
